<main class="index">
  <div class="banner-carousel banner-carousel-1 mb-0">
    <div class="banner-carousel-item" style="background-image:url(images/slider-main/bg2.jpg)">
      <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-md-12 text-center">
              <h2 class="slide-title" data-animation-in="slideInLeft">30 años de excelencia en la</h2>
              <h3 class="slide-sub-title" data-animation-in="slideInRight">Industria de la construcción</h3>
              <p data-animation-in="slideInLeft" data-duration-in="1.2">
                <a href="/services" class="slider btn btn-primary">Nuestras obras</a>
                <a href="/contact" class="slider btn btn-primary border">Contacto</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-carousel-item" style="background-image:url(images/slider-main/bg1.jpg)">
      <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-md-12">
              <h2 class="slide-title-box" data-animation-in="slideInDown">Infraestructura para industrias</h2>
              <h3 class="slide-title" data-animation-in="fadeIn">Cuando el servicio importa</h3>
              <h3 class="slide-sub-title" data-animation-in="slideInLeft">Su elección es simple</h3>
              <p data-animation-in="slideInRight">
                <a href="services.html" class="slider btn btn-primary border">Nuestros servicios</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-carousel-item" style="background-image:url(images/slider-main/bg3.jpg)">
      <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-md-12">
              <h2 class="slide-title" data-animation-in="slideInDown">Una Empresa que se destaca por su cumplimiento, calidad y costos.</h2>
              <h3 class="slide-sub-title" data-animation-in="fadeIn">Trayectoria</h3>
              <p class="slider-description lead" data-animation-in="slideInRight">La continuidad en el tiempo de la relación con nuestros clientes, refleja la
calidad del servicio brindado.</p>
              <div data-animation-in="slideInLeft">
                <a href="contact.html" class="slider btn btn-primary" aria-label="contact-with-us">Nuestra obras</a>
                <a href="about.html" class="slider btn btn-primary border" aria-label="learn-more-about-us">Conozcanos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="call-to-action-box no-padding">
    <div class="container">
      <div class="action-style-box">
        <div class="row align-items-center">
          <div class="col-md-8 text-center text-md-left">
            <div class="call-to-action-text">
              <h3 class="action-title">Nosotros construimos confianza y compromiso</h3>
            </div>
          </div><!-- Col end -->
          <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
            <div class="call-to-action-btn">
              <a class="btn btn-dark" href="#quienessomos"  id="quienessomos">conozcanos</a>
            </div>
          </div><!-- col end -->
        </div><!-- row end -->
      </div><!-- Action style box -->
    </div><!-- Container end -->
  </section><!-- Action end -->

  <section id="ts-features" class="ts-features">
    <div class="container">
      <div class="row" >
        <div class="col-lg-6">
          <div class="ts-intro">
            <h2 class="into-title">Quienes somos</h2>
            <h3 class="into-sub-title">Trayectoria al servicio de la construcción</h3>
            <p>Una Empresa que se destaca por su cumplimiento, calidad y costos.
              Capaz de satisfacer los requerimientos de sus clientes abarcando desde el estudio del proyecto, hasta la
              finalización de la obra.</p>
            <p>La continuidad en el tiempo de la relación con nuestros clientes, refleja la calidad del servicio
              brindado.</p>
            <img src="images/iso9001.png" class="img-fluid iso9001" alt="ISO9001">
          </div><!-- Intro box end -->

          <div class="gap-20"></div>

          <div class="row">
            <div class="col-md-6">
              <div class="ts-service-box">
                <span class="ts-service-icon">
                  <i class="fas fa-trophy"></i>
                </span>
                <div class="ts-service-box-content">
                  <h3 class="service-box-title">Calidad de servicio</h3>
                </div>
              </div><!-- Service 1 end -->
            </div><!-- col end -->

            <div class="col-md-6">
              <div class="ts-service-box">
                <span class="ts-service-icon">
                  <i class="fas fa-tractor"></i>
                </span>
                <div class="ts-service-box-content">
                  <h3 class="service-box-title">Maquinaria propia </h3>
                </div>
              </div><!-- Service 2 end -->
            </div><!-- col end -->
          </div><!-- Content row 1 end -->

          <div class="row">
            <div class="col-md-6">
              <div class="ts-service-box">
                <span class="ts-service-icon">
                  <i class="fas fa-thumbs-up"></i>
                </span>
                <div class="ts-service-box-content">
                  <h3 class="service-box-title">Reputación</h3>
                </div>
              </div><!-- Service 1 end -->
            </div><!-- col end -->

            <div class="col-md-6">
              <div class="ts-service-box">
                <span class="ts-service-icon">
                  <i class="fas fa-users"></i>
                </span>
                <div class="ts-service-box-content">
                  <h3 class="service-box-title">Un equipo profesional</h3>
                </div>
              </div><!-- Service 2 end -->
            </div><!-- col end -->
          </div><!-- Content row 1 end -->
        </div><!-- Col end -->

        <div class="col-lg-6 mt-4 mt-lg-0">
          <h3 class="into-sub-title">Nuestras políticas</h3>
          <p>MARELLI CONSTRUCTORA S.A. asume el compromiso de aplicar y mejorar permanentemente un Sistema de Gestión Integrado para asegurar la entrega de productos y servicios confiables que cumplan con los requisitos y expectativas explicito e implícitos de sus clientes. Como referencia para promover la calidad y la mejora continua en todos los niveles de la organización se deberán considerar los siguientes objetivos de calidad:</p>

          <div class="accordion accordion-group" id="our-values-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Mejora continua
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-parent="#our-values-accordion">
                <div class="card-body">
                  Mejorar continuamente nuestra gestión considerando la innovación, el desarrollo e implementación de las mejores prácticas y el cumplimiento de los requisitos aplicables.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Comumicación
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
                <div class="card-body">
                  Mantener una política de comunicación clara transparente con nuestros clientes, proveedores y aliados de negocios.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Competencia
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                data-parent="#our-values-accordion">
                <div class="card-body">
                  Promover la capacitación y competencia del personal, poniendo a disposición los recursos necesarios para la implementación de programas de capacitación, orientados a reforzar el compromiso y desarrollar las competencias de los integrantes de la organización.
                </div>
              </div>
            </div>
                        <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Continuo crecimiento
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#our-values-accordion">
                <div class="card-body">
                 Asegurar el crecimiento de la organización a partir de la planificación de los negocios, las inversiones y el mejoramiento de la eficacia en el desarrollo y utilización de los recursos e infraestructura.
                </div>
              </div>
            </div>
          </div>
          <!--/ Accordion end -->

        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </section><!-- Feature are end -->

  <section id="facts" class="facts-area dark-bg">
    <div class="container">
      <div class="facts-wrapper">
        <div class="row">
          <div class="col-md-3 col-sm-6 ts-facts">
            <div class="ts-facts-img">
              <img loading="lazy" src="images/icon-image/fact3.png" alt="facts-img">
            </div>
            <div class="ts-facts-content">
              <h2 class="ts-facts-num"><span class="counterUp" data-count="30">0</span></h2>
              <h3 class="ts-facts-title">Años construyendo</h3>
            </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
            <div class="ts-facts-img">
              <img loading="lazy" src="images/icon-image/fact2.png" alt="facts-img">
            </div>
            <div class="ts-facts-content">
              <h2 class="ts-facts-num"><span class="counterUp" data-count="647">0</span></h2>
              <h3 class="ts-facts-title">Obras realizadas</h3>
            </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
            <div class="ts-facts-img">
              <img loading="lazy" src="images/icon-image/service-icon5.png" alt="facts-img">
            </div>
            <div class="ts-facts-content">
              <h2 class="ts-facts-num"><span class="counterUp" data-count="4000000">0</span></h2>
              <h3 class="ts-facts-title">M3 de hormigos</h3>
            </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
            <div class="ts-facts-img">
              <img loading="lazy" src="images/icon-image/structure.png" alt="facts-img">
            </div>
            <div class="ts-facts-content">
              <h2 class="ts-facts-num"><span class="counterUp" data-count="14400">0</span></h2>
              <h3 class="ts-facts-title">Toneladas acero</h3>
            </div>
          </div><!-- Col end -->

        </div> <!-- Facts end -->
      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
  </section><!-- Facts end -->

  <section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">Somos especialistas</h2>
          <h3 class="section-sub-title">Nuestros servicios</h3>
        </div>
      </div>
      <!--/ Title row end -->

      <div class="row">
        <div class="col-lg-4">
          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Obras de Ingeniería</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 1 end -->

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/Excavator.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Movimiento de suelo</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 2 end -->

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/service-icon5.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Hormigón elaborado</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 3 end -->

        </div><!-- Col end -->

        <div class="col-lg-4 text-center">
          <img loading="lazy" class="img-fluid" src="images/icon-image/service-center.png" alt="service-avater-image">
        </div><!-- Col end -->

        <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/service-icon1.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Obras de Arquitectura</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 4 end -->

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/structure.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Construccion y montaje de estructuras metálicas</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 5 end -->

          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="images/icon-image/bulldozer.png" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Servicio de equipos</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->

    </div>
    <!--/ Container end -->
  </section><!-- Service end -->

  <section id="project-area" class="project-area solid-bg">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h2 class="section-title">Experiencia en construcción</h2>
          <h3 class="section-sub-title">Nuestras obras</h3>
        </div>
      </div>
      <!--/ Title row end -->

      <div class="row">
        <div class="col-12">
          <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Mostrar todas
          </label>
          {{#each tipos}}
          <label for="{{descripcion}}">
            <input type="radio" name="shuffle-filter" id="{{descripcion}}" value="{{descripcion}}">{{descripcion}}
          </label>
          {{/each}}
        </div><!-- project filter end -->


        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>
 {{#each works}}
          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;{{tipoObra}}&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/fotosObras/{{foto}}">
                <img class="img-fluid" src="/fotosObras/{{foto}}" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="/work/{{id}}">{{titulo}}</a>
                  </h3>
                  <p class="project-cat">{{ubicacion}}</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 1 end -->
{{/each}}
         
        </div><!-- shuffle end -->
        </div>

        <div class="col-12">
          <div class="general-btn text-center">
            <a class="btn btn-primary" href="/works">Ver todas las obras</a>
          </div>
        </div>

      </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
  </section><!-- Project area end -->

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="column-title">Nuestros clientes</h3>

          <div id="testimonial-slide" class="testimonial-slide">


            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/aca.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/agd.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 2 end -->



            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/bunge.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 3 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/cargil.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 4 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/louis-dreyfus.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 5 end -->

            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/molinos.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 6 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/nidera.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 7 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/noble-argentina.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 8 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/renova.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 9 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/t6.jpg" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 10 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/vicentin.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 11 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/acabio.png"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 12 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/cofco.png"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 13 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/explora.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 14 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/GerdauLogoNuevo.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 15 end -->
            <div class="col-sm-4 col-6">
              <figure class="clients-logo">
                <a href="#!"><img loading="lazy" class="img-fluid" src="images/clients/clientesultrapetrol.jpg"
                    alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 16 end -->
          </div>
          <!--/ Testimonial carousel end-->
        </div><!-- Col end -->

        

      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
  </section><!-- Content end -->


 
</main>